:root{
    --color-white: hsl(0, 0%, 100%);
    --color-slate-300: hsl(212, 45%, 89%);
    --color-slate-500: hsl(216, 15%, 48%);
    --color-slate-700: hsl(218, 44%, 22%);
}

@font-face {
    font-family: Outfit;
    src: url(files/Outfit-VariableFont_wght.ttf);
}

body{
    background-color: var(--color-slate-300);
}

.subText{
    font-size: 15px;
    width: 275px;
    font-weight: 400;
    font-family: Outfit;
    text-align: center;
    color: var(--color-slate-500);
    padding-top: 10px;
    padding-bottom: 40px;
    margin: auto;
}

.header{
    font-family: Outfit;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: var(--color-slate-700);
    margin: auto;
    width: 275px;
    padding-top: 5px;
}

#mainContainer{
    margin: auto;
    max-width: 325px;
    background-color: var(--color-white);
    border-radius: 15px;
    padding-top: .1px;
    display: block;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img {
    width: 90%;
    height: auto;
    border-radius: 10px;
    margin: auto;
    margin-top: 15px;
    display: block;
}

footer{
    padding:0px;
    text-align: center;
    font-size: 11px;
}